.gender {
  margin-left: 15%;
}

h2 {
  text-align: center;
}

.info {
  margin: 0% 1% 0% 0%;
  font-size: 1.2em;
  font-weight: bold;
}

.left-side {
  margin-right: 15%;
  text-align: center;
}

p {
  margin-bottom: 5%;
}

.passport-container {
  background: url(../../assets/passport-background.jpg) no-repeat center fixed;
  background-size: 60%;
  border: 0.2em solid #2B758C;
  border-radius: 5%;
  margin: 5% 20%;
  opacity: 0.8;
}

.profile-page {
  display: flex;
  flex-direction: row;
  margin-left: 10%;
}

.profile-picture {
  border-radius: 5%;
  border: 0.25em solid #00962A;
  height:10em;
  width: 10em;
}


