.passport-container {
  border: 0.2em solid #2B758C;
  border-radius: 5%;
  margin: 5% 10%;
  text-align: center;
}

.profile-page {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 5%;
}