h1 {
  color: #2B758C; 
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: #81f1f7;
}

.header-leaf {
  height: 80%;
  width: 5%;
  margin-top: 1%;
}

input {
  width: 15%;
  height: 1.5em;
  margin-top: 2.5%;
}

.nav-section {
  display: flex;
  justify-content: flex-end;
}