@import './variables';
@import './Components/Header/Header.scss';
@import './Components/VillagerList/VillagerList.scss';
@import './Components/ProfilePage/ProfilePage.scss';

body, html {
  margin: 0;
  background: url(./assets/acnh-background.jpg) no-repeat center fixed;
  background-size: cover;
  height: 100vh;
}