@import './Components/App/App';
@import './Components/Header/Header.scss';
@import './Components/VillagerList/VillagerList.scss';
@import './Components/Profile/Profile.scss';

body, html {
  margin: 0;
  background: url(./assets/acnh-background.jpg) no-repeat center fixed;
  background-size: cover;
  height: 100vh;
}